body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  font-family: sans-serif;
}

.calculator {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.calculator-screen {
  width: 100%;
  height: 60px;
  background-color: #252525;
  color: #fff;
  text-align: right;
  padding: 10px;
  font-size: 2em;
  border: none;
  box-sizing: border-box;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.calculator-keys {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.row {
  display: flex;
  width: 100%;
}

.row button {
  height: 60px;
  font-size: 1.5em;
  border: 1px solid #ccc;
  background-color: #eee;
  color: #333;
  flex-grow: 1;
  cursor: pointer;
  margin: 5px;
  border-radius: 5px;
  outline: none;
}

.row button:hover {
  background-color: #ddd;
}

.operator {
  background-color: #f79234;
  color: #fff;
}

.operator:hover {
  background-color: #ff9d44;
}

.equal-sign {
  background-color: #337ab7;
  color: #fff;
}

.equal-sign:hover {
  background-color: #4088c4;
}

.all-clear {
  background-color: #dc3545;
  color: #fff;
  width: 50%;
}

.all-clear:hover {
  background-color: #e04b5a;
}

.zero-btn {
  width: 50%;
}
